<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <!-- <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover"> -->
    <meta name="viewport"  content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no"> 

    <title>开始吧</title>
    <script src="//at.alicdn.com/t/font_856651_shkouhf1izh.js"></script>
</head>
<body >

<div id="root"></div>
</body>

</html>
